.quiz-content {
    margin: 10px 30px;
    text-align: center;
}

.quiz-question {
  display: block;
  text-align: center;
}

h3 {
  margin-bottom: 25px;
}

ul {
  list-style: none;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

li {
  float: left;
  margin-right: 10px;
  /*여기 간격은 반응형으로 바꿔줘야됨*/
}

li:after {
  content: " -> ";
}

li:last-child:after {
  content: none;
}

.user-answer {
  display: block;
}

/*
    추후에 input+버튼 width크기는 보여줄 이미지의 최소 사이즈 기준으로 맞추는 걸로 합시다.
*/
input {
  font-size: 15px;
  width: 250px;
  border-radius: 150px;
  padding: 5px 8px;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  margin-right: 9px;
}

button {
  height: 27px;
  width: 40px;
  background-color: #ffcc2f;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.15s;
}

button.hover {
  opacity: 0.8s;
}

button.active {
  opacity: 0.5s;
}