.quiz-content {
    margin: 10px 30px;
    text-align: center;
}

.quiz-question {
  display: block;
  text-align: center;
}

ul {
  list-style: none;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

li {
  float: left;
  margin-right: 10px;
  /*여기 간격은 반응형으로 바꿔줘야됨*/
}

li:after {
  content: " -> ";
}

li:last-child:after {
  content: none;
}

.user-answer {
  display: block;
}