<!DOCTYPE html>
<html th:replace="~{footballQuiz/template :: layout(~{::title},
  ~{:: main}, ~{:: link})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>main page</title>
    <link>
</head>
<body>

<main class="quiz-thumbnails">
    <div class="video-template">
        <img
                class="thumbnail"
                src="/thumnails/aimyon1.png"
                th:src="@{/thumnails/no-photo-available.png}"
        />
        <p class="video-title" th:text="${quizIntro.quizName}">
            Talking Tech and AI with Google CEO Sundar Pichai!
        </p>
        <p class="video-author" th:text="${quizIntro.quizDescription}">Marques Brownlee</p>
        <button class="quiz-start-btn">퀴즈 시작</button>
    </div>

    <div class="video-template">
        <img
                class="thumbnail"
                src="/thumnails/aimyon1.png"
                th:src="@{/thumnails/no-photo-available.png}"
        />
        <p class="video-title" th:text="${quizIntro.quizName}">
            Talking Tech and AI with Google CEO Sundar Pichai!
        </p>
        <p class="video-author" th:text="${quizIntro.quizDescription}">Marques Brownlee</p>
        <button class="quiz-start-btn" type="button" th:onclick="|location.href='@{/basic/quiz-page1}'|">퀴즈 시작</button>
    </div>
    <div class="video-template">
        <img
                class="thumbnail"
                src="/thumnails/aimyon1.png"
                th:src="@{/thumnails/no-photo-available.png}"
        />
        <p class="video-title" th:text="${quizIntro.quizName}">
            Talking Tech and AI with Google CEO Sundar Pichai!
        </p>
        <p class="video-author" th:text="${quizIntro.quizDescription}">Marques Brownlee</p>
        <button class="quiz-start-btn">퀴즈 시작</button>
    </div>

</main>
</body>
</html>
