<!DOCTYPE html>
<html th:replace="~{footballQuiz/template :: layout(~{::title},
  ~{::main}, ~{::link})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>quiz-page-1</title>
    <link rel="stylesheet" type="text/css" href="/css/quiz-page1.css">
</head>
<body>

<main class="quiz-content">
    <div class="quiz-question">
        <h3>문제를 푸시오</h3>
        <ul>
            <li th:each="team : ${quiz1.teams.keySet()}" th:text="${team}"></li>
        </ul>
    </div>

    <div class="user-answer">
        <form action="quiz1-page1" th:action method="post">
            <input type="text" name="userAnswer" id="id" th:value="${userAnswer}" autocomplete="off" placeholder="정답" />
            <button type="submit" placeholder="정답은?">제출</button>
        </form>
        <div th:if="${not #strings.isEmpty(answer)}">
            <span th:if="${answer == true}">정답입니다!</span>
            <span th:unless="${answer == true}">틀렸습니다!</span>
        </div>
    </div>

</main>
</body>
</html>
