<!DOCTYPE html>
<html th:fragment="layout (title, main, link)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:replace="${title}">레이아웃 타이틀</title>
    <link rel="stylesheet" type="text/css" href="/css/Template.css">
    <link th:replace="${link}">
</head>
<body>
    <div class="nav-bar">
        <div class="left-section">
            <div class="title">축잘알 퀴즈쇼</div>
            <div>공지사항</div>
            <div>퀴즈종류</div>
            <div>의견남기기</div>
        </div>
    </div>
    <main th:replace="${main}"> <p>레이아웃 컨텐츠</p>
    </main>
    <footer>
        레이아웃 푸터
    </footer>
</body>
</html>